<!DOCTYPE html>
<html ng-app="app">
  <head>
      <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  </head>
  <body>
    <h1>Hello <%= name %></h1>
    <h1 style="color:blue;">Website Under Construction..</h1>
    </body>
</html>